button {
    border: none;
    border-radius: 10px;
    height: 33px;
    background: linear-gradient(145deg, #fff870, #dcd15f);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);

    &:focus {

        background: #f4e869;
        box-shadow: inset 6px 6px 12px #d9ce5d,
            inset -6px -6px 12px #ffff75;
    }
}