#events-container {
    margin: auto;

    // .event-paragraph{}
    // .card-edit{}
    // .event-table{
    //     .event-table-r{
    //         .event-table-h{}
    //         .event-table-c{}
    //     }
    // }
    .card-event {
        margin: 10px;
        padding: 10px;
        background-color: #3085C3;
        width: 95%;
        height: auto;
        border-radius: 10px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        z-index: 2;
        display: grid;
        grid-template-columns: 90% 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;

        .event-title {
            border: 1px solid purple;
            grid-column: 1/2;
            grid-row: 1/2;
            text-align: center;
            color: #FAF2D3;
        }

        .event-paragraph {
            text-align: center;
            color: #FAF2D3;
            grid-column: 1/3;
            grid-row: 2/3;
        }

        .card-edit {
            border: 1px solid purple;
            grid-column: 2/3;
            grid-row: 1/2;
            align-self: center;
        }

        .event-table {
            border: 1px solid purple;
            grid-column: 1/3;
            grid-row: 3/4;
        }

        .event-input {
            border: 1px solid purple;
            grid-column: 1/2;
            grid-row: 4/5;
            height: 30px;
        }

        .event-btn-delete {
            border: 1px solid purple;
            grid-column: 2/3;
            grid-row: 4/5;
        }
    }
}