#modal {
    padding: 10px;
    background-color: #5CD2E6;
    width: 500px;
    height: 250px;
    border-radius: 10px;
    position: absolute;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;

    #formEvent {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas:
            "title desc"
            "author desc"
            "event  desc"
            "futur send";
        gap: 10px;

        #eventTitle {
            grid-area: title;
            width: 150px;
            height: 30px;
        }

        #author {
            grid-area: author;
            width: 150px;
            height: 30px;
        }

        #description {
            grid-area: desc;
            width: 100%;
        }

        .date-add {

            grid-area: event;
            display: flex;
            flex-direction: row;
            height: 30px;

            #addDate {
                padding-left: 20px;
            }
        }


        #futur-dates {
            grid-area: futur;
        }

        .send-btn {
            grid-area: send;
            display: flex;
            justify-content: end;
            align-items: end;

            #send {
                width: 100px;
            }

        }
    }

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 32px;
        font-weight: 700;
        color: #F4E869;
    }

}

.hidden {
    visibility: hidden;
}