body {
    h1 {
        font-size: 40px;
        color: #3085C3;
    }

    h3 {
        font-size: 25px;

    }

    p {
        font-size: 16px;
    }

    button {
        color: #3085C3;
        text-transform: uppercase;
        font-weight: 700;
    }
}